html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}

#first {
  top: 0;
  left: 0;
}

#second {
  top: 0;
  left: 100vw;
}

.container > div {
  overflow: hidden;
}

iframe {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.kibana {
  grid-column: 1 / 11;
  grid-row: 1 / 11;
}

.rabbit {
  grid-column: 1/4;
  grid-row: 1 / 11;
  background: white;
}

/* .rabbit iframe {
  transform: scale(0.9);
  width: 112%;
  height: 112%;
} */

.librato {
  grid-column: 4 / 8;
  grid-row: 1 / 11;
}

/* .librato iframe {
  transform: scale(0.6);
  width: 159%;
  height: 167%;
} */

.cdd iframe {
  transform: scale(0.7);
  width: 143%;
  height: 149%;
}

.cdd {
  grid-column: 8 / 11;
  grid-row: 7 / 11;
}

.codeship {
  background: none;
  grid-column: 8 /11;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.codeship .status {
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.codeship .title {
  background-color: #313a44;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  flex-grow: 0;
}

.codeship .title img {
  height: 30px;
}

.codeship .project {
  border: 1px black solid;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 198, 198);
  background-repeat: no-repeat;
  color: #a1a1a1;
}

.codeship .project h2 {
  font-size: 1.8rem;
  margin: 0;
  text-transform: uppercase;
}

.codeship .project span {
  font-size: 1.5rem;
  margin: .5rem;
}

.codeship .project:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  content: '';
}

.codeship .project .statusline {
  text-transform: uppercase;
}

.codeship .project .commit {
  text-align: center;
  font-size: 1rem;
}

.project.waiting {
  background-image: url(/happy.gif);
  background-size: cover;
  background-position: center top;
  color: white;
}

.project.waiting:before {
  background-color: rgb(165, 234, 255);
}

.project.testing {
  background-image: url(/cat.gif);
  background-size: cover;
  background-position: center top;
  color: white;
}

.project.testing:before {
  background-color: rgb(0, 146, 204);
}

.project.success {
  background-color: rgb(16, 151, 83);
  color: white;
}

.project.success:before {
  background-color: rgb(16, 151, 83);
}

.project.failed, .project.error {
  background-image: url(/explode.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

.project.failed:before, .project.error:before {
  background-color: rgb(224, 46, 1);
}

.project.stopping, .project.stopped {
  background-image: url(/stop.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

.project.stopping:before, .project.stopped:before {
  background-color: rgb(240, 204, 0);
}
