html,
body {
  font-family: sans-serif;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}

.container > div {
  overflow: hidden;
}

iframe {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.cd-dashboard {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
}

.logmatic {
  grid-column: 1 / 11;
  grid-row: 1 / 6;
}

.rabbit {
  grid-column: 1/4;
  grid-row: 6 / 11;
  background: white;
}

.librato {
  grid-column: 4 / 8;
  grid-row: 6 / 11;
}

.librato iframe {
  transform: scale(0.6);
  width: 159%;
  height: 167%;
}

.cdd {
  grid-column: 8 / 11;
  grid-row: 8 / 11;
}

.codeship {
  background: none;
  grid-column: 8 /11;
  grid-row: 6 / 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.codeship .status {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.codeship .title {
  background-color: #313a44;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  flex-grow: 0;
}

.codeship .title img {
  height: 30px;
}

.codeship .project {
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 198, 198);
  background-repeat: no-repeat;
  color: #a1a1a1;
  padding: 1rem;
}

.codeship .project h2 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.codeship .project span {
  font-size: 1.5rem;
  margin: .5rem;
}

.codeship .project:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  content: '';
}

.codeship .project .statusline {
  text-transform: uppercase;
}

.codeship .project .commit {
  text-align: center;
  font-size: 1rem;
}

.project.waiting {
  background-image: url(/happy.gif);
  background-size: cover;
  background-position: center top;
  color: white;
}

.project.waiting:before {
  background-color: rgb(165, 234, 255);
}

.project.testing {
  background-image: url(/cat.gif);
  background-size: cover;
  background-position: center top;
  color: white;
}

.project.testing:before {
  background-color: rgb(0, 146, 204);
}

.project.success {
  background-color: rgb(16, 151, 83);
  color: white;
}

.project.success:before {
  background-color: rgb(16, 151, 83);
}

.project.failed, .project.error {
  background-image: url(/explode.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

.project.failed:before, .project.error:before {
  background-color: rgb(224, 46, 1);
}

.project.stopping, .project.stopped {
  background-image: url(/stop.gif);
  background-size: cover;
  background-position: center center;
  color: white;
}

.project.stopping:before, .project.stopped:before {
  background-color: rgb(240, 204, 0);
}
